.card {
  @media (min-width: $tablet-width) {
    background-color: $color-gray-50;
  }
}

.card__link {
  text-decoration: none;
}

.card__title {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850
}

.card__parameter {
  font-size: 12px;
}
