.catalog-additional {
  padding: 25px 0 35px;
  display: grid;
}

.catalog-additional__container {
  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr 1fr;
    column-gap: 80px
  }
}

.catalog-additional__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: $font-heading;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: $color-black;
  grid-column: 1 / -1;
}

.catalog-additional__list {
  padding: 0;
  margin-bottom: 35px;
  list-style-type: none;
  border-bottom: 1px solid $color-gray-250;;
}

.catalog-additional__item {
  padding: 12px 0 20px;
  border-top: 1px solid $color-gray-250;
}

.card-row {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "size price"
    "button button";

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "title size price"
    "button button button";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "title size price button";
  }

}

.card-row__title {
  margin: 0;
  margin-bottom: 12px;
  grid-area: title;
}

.card-row__size {
  margin: 0;
  margin-bottom: 15px;
  grid-area: size;
}
.card-row__price {
  margin: 0;
  margin-bottom: 15px;
  grid-area: price;
  text-align: right;
}

.card-row__button {
  grid-area: button;
}
