.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: $color-gray-700;

  @media (max -width: $mobile-width-only) {
    justify-content: space-between;
  }
}

.copyright__image {
  display: block;
  margin: 0;
  margin-left: 22px;
  fill: $color-gray-700
}
