.example {
  padding: 25px 0 40px;
  background-color: $color-gray-bright;
}

.example__container {
  @media (min-width: $desktop-width) {
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

}

.example__title {
  margin-bottom: 40px;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
}

.example__description {
  margin-bottom: 20px;
}

.example__list {
  margin-bottom: 20px;
}

.example__number {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 1;
  color: $color-black;
  font-weight: 400;
  text-transform: uppercase;
}

.example__definition {
  font-size: 12px;
  line-height: 1;
}

.example__spending {
  font-family: $font-heading;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  text-align: center;
}
