.field {
  font-family: $font-heading;
  font-style: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-grey-dark;

  &__input {
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
  }

}
