.page-main__title {
  margin: 0;
  padding: 28px 0 40px;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 1;
  color: $color-black;
  font-weight: 400;
}

.page-main__subtitle {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
}
