.page-footer {
  padding: 32px 0 22px;
  background-color: $color-gray-50;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    margin: 0;
    margin-bottom: 22px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}
