.promo {
  padding-top: 27px;
  color: $color-black;

  @media (max-width: $mobile-width-only) {
    text-align: center;
    color: $color-white;
    background-color: $color-primary-500;
    background-image:
      url("../img/background/promo-mobile.jpg"),
      linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white  302px);
    background-repeat: no-repeat;
    background-position: 50% 0;

    @media (min-resolution: 2dppx) {
      background-size: auto 302px, auto;
      background-image:
        url("../img/background/promo-mobile@2x.jpg"),
        linear-gradient($color-primary-800 0, $color-primary-800 302px, $color-white  302px);
    }
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -200px;
      right: 0;
      bottom: 0;
      left: 50%;
      z-index: -2;
      background-color: $color-primary-800;
      background-image: url("../img/background/promo-desktop.jpg");
      background-repeat: no-repeat;
      background-position: 0 100%;

      @media (min-resolution: 2dppx) {
        background-size: auto 694px;
        background-image: url("../img/background/promo-desktop@2x.jpg");
      }
    }
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 90px 526px;
  }

  @media (min-width: $desktop-width) {
    min-height: 495px;
    padding: 26px 610px 95px 80px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 29px;
  font-family: $font-heading;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

.promo__image {
  width: 280px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 16px 26px;
    width: auto;
    font-size: 20px;
  }
}
