.show-more {
  padding: 78px 0 25px;
  text-align: center;
  background-image: url("../img/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 25px;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    padding: 160px 38px 38px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray-50;
    background-position: 50% 52px;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-gray-850;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.show-more__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__button {
  margin-top: auto;
}
