@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff2") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1220px;
  }
}

.button {
  padding: 10px 12px;
  display: inline-block;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68B738;
}
.button--secondary {
  background-color: #F2F2F2;
  color: #444444;
}

.page {
  height: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page__main {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    margin: 0 auto;
    padding: 12px 20px;
    width: 320px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__logo {
  grid-column: 1/3;
}

.page-header__toggle {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url(../../img/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__menu {
  margin: 0;
}
@media (min-width: 768px) {
  .page-header__menu {
    margin-right: -17px;
  }
}

.promo {
  padding-top: 27px;
  color: #000000;
}
@media (max-width: 767px) {
  .promo {
    text-align: center;
    color: #ffffff;
    background-color: #68B738;
    background-image: url(../../img/background/promo-small.jpg), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
@media (min-width: 768px) {
  .promo {
    background-color: transparent;
  }
}
@media (min-width: 1280px) {
  .promo {
    position: relative;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: #68B738;
    background-image: url("../../img/background/promo-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1280px) {
  .promo__container {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__title {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 29px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__subtitle {
    margin-bottom: 49px;
    font-size: 20px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1280px) {
  .promo__image {
    top: 30px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__button {
    padding: 14px 26px;
    width: auto;
    font-size: 20px;
  }
}

.catalog-section {
  padding-top: 20px;
}
@media (min-width: 1280px) {
  .catalog-section {
    padding-top: 82px;
  }
}

@media (min-width: 1280px) {
  .catalog-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-section__item {
  padding: 20px;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .catalog-section__item {
    padding: 77px 316px 52px 52px;
  }
}
@media (min-width: 1280px) {
  .catalog-section__item {
    padding: 40px 50px 55px;
  }
}
.catalog-section__item + .catalog-section__item {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .catalog-section__item + .catalog-section__item {
    margin-top: 30px;
  }
}
@media (min-width: 1280px) {
  .catalog-section__item + .catalog-section__item {
    margin-top: 0;
  }
}

.catalog-section__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-section__title {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .catalog-section__description {
    margin-bottom: 48px;
  }
}

.catalog-section__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .catalog-section__link {
    font-size: 20px;
  }
}

.process {
  padding: 20px;
  padding-bottom: 50px;
}

.process__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .process__title {
    font-size: 60px;
    line-height: 1;
  }
}

.process__list {
  list-style-type: none;
  padding: 0;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 36px;
  }
}
@media (min-width: 1280px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.process__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__item {
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 20px;
  }
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68B738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
  }
}

.example {
  padding: 25px 0 40px;
  background-color: #EAEAEA;
}

@media (min-width: 1280px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__title {
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 1;
  }
}

.example__description {
  margin-bottom: 20px;
}

.example__list {
  margin-bottom: 20px;
}

.example__number {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  text-transform: uppercase;
}

.example__definition {
  font-size: 12px;
  line-height: 1;
}

.example__spending {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.contacts:not(.contacts--main) {
  background-color: #F2F2F2;
}
@media (min-width: 1280px) {
  .contacts {
    position: relative;
    grid-template-columns: 1220px;
    z-index: 0;
    min-height: 400px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}

.contacts__container {
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__container {
    padding: 56px 40px;
    grid-template-columns: 172px 172px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .contacts__container {
    margin: 0;
    position: relative;
    z-index: 1;
    width: 565px;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__title {
  margin: 0;
  padding-right: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    text-align: right;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1280px) {
  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page-footer {
  padding: 32px 0 22px;
  background-color: #F2F2F2;
}

@media (min-width: 768px) {
  .page-footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .page-footer__logo {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .page-footer__social {
    margin: 0;
    margin-bottom: 22px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #444444;
}
@media (max -width: 767px) {
  .copyright {
    justify-content: space-between;
  }
}

.copyright__image {
  display: block;
  margin: 0;
  margin-left: 22px;
  fill: #444444;
}

.site-menu {
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  list-style-type: none;
}
@media (max-width: 767px) {
  .site-menu {
    border-top: 1px solid #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .site-menu {
    font-size: 20px;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    content: "";
    position: absolute;
    bottom: 4px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #68B738;
  }
}

.site-menu__link {
  padding: 24px;
  display: block;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px;
  }
}

.page-main__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
}

.page-main__subtitle {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.catalog-list {
  padding: 20px;
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1280px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .card {
    background-color: #F2F2F2;
  }
}
.card__link {
  text-decoration: none;
}
.card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.card__parameter {
  font-size: 12px;
}

.show-more {
  text-align: center;
}
.show-more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.show-more__text {
  font-size: 12px;
  line-height: 16px;
}

.catalog-additional {
  padding: 20px;
}

@media (min-width: 1280px) {
  .catalog-additional__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
  }
}

.catalog-additional__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  grid-column: 1/3;
}

.catalog-additional__list {
  padding: 0;
  list-style-type: none;
}

.card-row {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "size price" "button button";
}
@media (min-width: 768px) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "title size price" "button button button";
  }
}
@media (min-width: 1280px) {
  .card-row {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "title size price button";
  }
}

.card-row__title {
  grid-area: title;
}

.card-row__size {
  grid-area: size;
}

.card-row__price {
  grid-area: price;
  text-align: right;
}

.card-row__button {
  grid-area: button;
}

.card-row__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.card-row__info {
  line-height: 14px;
}

.offer {
  min-height: 290px;
  padding: 40px;
  background-color: #68B738;
  background-image: url("../../img/background/offer.jpg");
  text-align: center;
}
.offer__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.form {
  padding: 20px;
}

@media (min-width: 1280px) {
  .form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 1280px) {
  .form__group--contacts,
.form__group--comment,
.form__group--additional {
    grid-column: 1/-1;
  }
}

.form__group {
  margin: 0;
}

.form__additional {
  color: #000000;
}

.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.field-group__list {
  padding: 0;
  list-style-type: none;
}

@media (min-width: 1280px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

@media (min-width: 768px) {
  .field-group__list--additional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;
  }
}
@media (min-width: 1280px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.field {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.control {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.logo:not(.logo--footer) {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  gap: 16px;
}
.logo img {
  display: block;
}
@media (max-width: 767px) {
  .logo {
    padding: 8px;
    justify-content: center;
  }
}

.logo--footer {
  display: flex;
  align-items: center;
}

.logo__sign {
  justify-self: center;
}

.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: transparent;
}

.social {
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.social__item {
  margin: 0 4px;
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.social__link {
  display: block;
  padding: 8px;
  color: #666666;
}
/*# sourceMappingURL=style.css.map */