$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-bright: #EAEAEA;
$color-grey: #F2F2F2;
$color-grey-dark: #444444;
$color-grey-darker: #222222;

$color-primary: #68B738;
