.logo {
  position: relative;
  cursor: pointer;
  pointer-events: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }

  &:not(.logo--footer) {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    gap: 12px;

    @media (min-width: $tablet-width) {
      grid-template-columns: 61px 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 71px 1fr;
      gap: 14px;
    }
  }

  img {
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 34px;
      width: 56px;
      height: 36px;
    }
  }
}

.logo--footer {
  display: flex;
  align-items: center;
}

.logo__image {
  width: 33px;
  pointer-events: all;

  @media (min-width: $tablet-width) {
    width: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 71px;
  }
}

.logo__sign {
  width: 101px;
  justify-self: center;
  pointer-events: all;

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}
