.page-main__heading {
  padding: 28px 0 40px;

  @media (min-width: $desktop-width) {
    padding: 16px 0 40px;
  }
}

.page-main__title {
  margin: 0;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 1;
  color: $color-black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 60px;
  }
}

.page-main__subtitle {
  font-family: $font-heading;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
}
